@inherits MvcPlayground.Views.CitkaViewPage

<div id="header">
    @RenderZone("header")
</div>

<div id="main">
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper">
                @RenderZone("main")
            </div>
        </div>
    </div>

</div>

<div id="footer">
    @RenderZone("footer")
</div>


