<footer>
        <div class="content-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <h5>Have questions?</h5>
                        <ul class="list-unstyled">
                            <li><a href="http://www.asicentral.com/espwebsitesupport" target="_blank">Product Support</a>    </li>
                            <li><a href="mailto:support@asicentral.com?subject=Feedback" target="_blank">Feedback</a>    </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h5>ASI Store</h5>
                        <ul class="list-unstyled">
                            <li><a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=135" target="_blank">ESP Web</a>    </li>
                            <li><a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=138" target="_blank">ESP Orders</a>    </li>
                            <li><a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=4" target="_blank">ESP Websites</a>    </li>
                            <li><a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=18" target="_blank">CreditConnect</a>    </li>
                            <li><a href="http://www.asicentral.com/ASIStore" target="_blank">more &gt;</a>    </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h5>Community</h5>
                        <ul class="list-unstyled">
                            <li><a href="http://asicentral.com/" target="_blank">ASI Central</a>    </li>
                            <li><a href="http://timandrewsblog-asicentral.com/timblog/" target="_blank">Tim Andrews Blog</a>    </li>
                            <li><a href="http://www.facebook.com/pages/ASICentral/55248546043" target="_blank">ASI Facebook</a>    </li>
                            <li><a href="http://www.youtube.com/user/asicentral" target="_blank">ASI YouTube</a>    </li>
                            <li><a href="http://twitter.com/asicentral" target="_blank">ASI Twitter</a>    </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h5>Company</h5>
                        <ul class="list-unstyled">
                            <li><a href="http://www.asicentral.com/asp/open/AboutASI/default.aspx" target="_blank">About ASI</a>    </li>
                            <li><a href="http://www.asicentral.com/asp/open/AboutASI/pressRoom/default.aspx" target="_blank">Press Releases</a>    </li>
                            <li><a href="http://www.asicentral.com/asp/open/asicareers/default.aspx" target="_blank">ASI Careers</a>    </li>
                            <li><a href="http://www.asicentral.com/asp/open/CustomerSupport/support.aspx" target="_blank">Contact Us</a>    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
